
<html lang="zh-CN" class="">
    <head>
        {% block head %}   
        {% endblock %}  
    </head>

    <body class="">
    <div id="loader"></div>
    

    <div id="preview"> 
    <div id="single" style="min-height: 552px;">
    
            
        
         
    
    {% block top %}
    {% endblock  %}
  
    {% block article %}
    {% endblock  %} 
        </div>
    
      
        
    </div>       

   

    {% block gov %}
    {% endblock %}


    {% block photoswipe %}
    {% endblock %} 
    </body></html>