
<!DOCTYPE html>
<html lang="en" class="loading">
<head>
    {% block head %}   
 
    {% endblock %} 
    <link rel="stylesheet"
      href="//cdn.jsdelivr.net/gh/highlightjs/cdn-release@9.17.1/build/styles/googlecode.min.css">
<script src="//cdn.jsdelivr.net/gh/highlightjs/cdn-release@9.17.1/build/highlight.min.js"></script>
</head>

<body class="loading">
    {% block body_head %}  
    {% endblock  %} 
    <div id="single">
{% block div_top %}  
{% endblock  %} 
    <div class="section">
        <div class="article">
            {% block main %}  
 
    {% endblock  %}  
</div>


    </div>
</div>
</body>

{% block gov %}  
{% endblock  %} 

{% block why_js_is_here %}   
{% endblock  %} 

{% block div_pswp %}    
{% endblock  %} 



</html>
